<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pupilary.provider.mapper.GoodsPicMapper">
    <resultMap id="BaseResultMap" type="com.pupilary.provider.model.domain.GoodsPic">
        <!--@mbg.generated-->
        <!--@Table mdc_goods_pic-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="goods_id" jdbcType="TINYINT" property="goodsId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, url, goods_id, create_time, update_time, version
    </sql>

    <select id="selectGoodsPicByGoodsId" resultType="com.pupilary.provider.vo.GoodsPicVo" parameterType="java.lang.Long">
        select
        id, concat(#{mediaUrl}, url) as url, goods_id
        from mdc_goods_pic
        <where>
            goods_id = #{goodsId}
        </where>
    </select>
</mapper>
